
header
    .menu-btn
        .btn-line
        .btn-line
        .btn-line

    nav.menu
        .menu-branding
            .portrait

        ul.menu-nav
            li
                a(href="/", class="nav-link") Home
            li
                a(href="pages/about.pug", class="nav-link") About me
            li
                a(href="pages/work.pug", class="nav-link") My work
            li
                a(href="pages/contact.pug", class="nav-link") How to reach me