mixin icon(icon)
    a(href="#")
        i(class=`fab fa-${icon} fa-2x`)
main#home
    h1.lg-heading Erwin 
        span.text-secondary Schrödinger
    h2.sm-heading Nobel Prize-winning Austrian physicist & One of the fathers of Quantom Mechanics
    .icons
        +icon("twitter")
        +icon("facebook-square")
        +icon("linkedin")
        +icon("github")