$fa-font-path: 'shared/scss/font-awesome/webfonts/';
$font: 'Livvic', sans-serif;
$primary-color: #444;
$secondary-color: #eeca1a;
$show-home-image: true;
$home-image: url(https://source.unsplash.com/1600x900/?laptop,coding,closeup);
$background-opacity: 0.9;