$fa-font-path: 'shared/scss/font-awesome/webfonts/';
$font: 'Livvic', sans-serif;
$primary-color: #444;
$secondary-color: #eeca1a;
$show-home-image: true;
$home-image: url(https://source.unsplash.com/1600x900/?Physics);
$background-opacity: 0.9;
$portrait: 'https://media.nature.com/w800/magazine-assets/d41586-018-06034-8/d41586-018-06034-8_16060838.jpg';
