@import '../abstract/variables';
@import '../abstract/mixins';
@import '../abstract/functions';

@import "../base/animations";
@import "../base/base";
@import "../base/typography";
@import "../base/utilities";

@import "../components/header";
@import "../components/main";
@import "../components/menu";

$fa-font-path: "../font-awesome/webfonts";

@import "../font-awesome/scss/fontawesome.scss";
@import "../font-awesome/scss/brands.scss";
@import "../font-awesome/scss/solid.scss";


.nav-item {
    @include current(3);
}

// Worl/projects

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;
        @include easeOut(.2s);

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
        }
    }
}


@import "../components/footer";

@import "../layout/mobile";
