doctype html
html(lang="en")
    include shared/pug/mixins
    head
        +head("Home", 'style')
    body#bg-image
        +header('', 'pages/')
        include shared/pug/components/main
        script(src="main.ts")